<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.knime.workbench.repository.nodes">
    <node
          category-path="/labs/weaksupervision/"
          deprecated="false"
          factory-class="org.knime.wsl.weaklabelmodel.learner.WeakLabelModelLearnerNodeFactory">
    </node>
    <node
          category-path="/labs/weaksupervision/"
          deprecated="false"
          factory-class="org.knime.wsl.weaklabelmodel.predictor.WeakLabelModelPredictorNodeFactory">
    </node>
   </extension>
 <extension
       point="org.knime.workbench.repository.categories">
    <category
          after="activelearning"
          description="Contains nodes for Weak Supervision"
          icon="icons/missing.gif"
          level-id="weaksupervision"
          locked="true"
          name="Weak Supervision"
          path="/labs/">
    </category>
 </extension>
 <extension
           point="org.knime.core.PortType">
           <portType
              hidden="false"
              name="Weak Label Model"
              objectClass="org.knime.wsl.weaklabelmodel.WeakLabelModelPortObject"
              objectSerializer="org.knime.wsl.weaklabelmodel.WeakLabelModelPortObject$Serializer"
              specClass="org.knime.wsl.weaklabelmodel.WeakLabelModelPortObjectSpec"
              specSerializer="org.knime.wsl.weaklabelmodel.WeakLabelModelPortObjectSpec$Serializer">
        </portType>
         </extension>
</plugin>
